
.login-background {
    background: linear-gradient(90deg, #49746F 63%, #C6D1D0 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


/* Contenedor principal */
.login-container {
    display: flex;
    width: 100%;
    max-width: 900px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  /* Cuadro de texto con opacidad */
.login-form {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.41); /* Blanco con opacidad 41% */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  /* Título */
  .login-container h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Botones */
  button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .login-form h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #333;
  }
  
  /* Contenedor derecho con imagen */
.login-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Botón Google */
  .google-btn {
    background-color: #e9e9e9;
    color: #333;
  }
  
  .google-btn:hover {
    background-color: #d1d1d1;
  }
  
  /* Botón Microsoft */
  .microsoft-btn {
    background-color: #4169e1;
    color: white;
  }
  
  .microsoft-btn:hover {
    background-color: #365abc;
  }
  
  /* Botón Iniciar sesión */
  .login-btn {
    background-color: #5e5ca4;
    color: white;
  }
  
  .login-btn:hover {
    background-color: #4a478e;
  }
  
  /* Input de texto */
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  /* Checkbox y enlace */
  .remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 10px;
  }
  
  a {
    color: #6c63ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  