/* App.css */

/* Estilo general */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #49746F 63%, #C6D1D0 100%);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.layout-container {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

/* Botones */
button {
  background-color: #4169E1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

button:hover {
  background-color: #365abc;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Enlaces */
a {
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}
